/* DataDisplay
   ====================================================================== */

.c-DataDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-DataDisplay__title {
  text-transform: uppercase;
}

.c-DataDisplay__number {
  font-size: 3em;
  text-align: center;
}
