/* pge-BtnPrimary ========================================================== */

.pge-BtnPrimary {
  display: flex;
  border-radius: 50%;
}

.pge-BtnPrimary:hover {
  border-color: var(--th-primary-text);
}

.pge-BtnPrimary_icon {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(64%) sepia(6%) saturate(30%) hue-rotate(314deg) brightness(86%) contrast(88%);
}

.pge-BtnPrimary:hover > .pge-BtnPrimary_icon {
  filter: invert(98%) sepia(2%) saturate(123%) hue-rotate(185deg) brightness(117%) contrast(100%);
}
