/* o_pgeHeader
 * ====================================================================== */

.o_pgeHeader {
  color: var(--th-primary-text);
}

.o_pgeHeader-title {
  font-weight: var(--fo-thin);
  font-size: 2.5rem;
  text-align: center;
}

.o_pgeHeader-text {
  margin-top: 0.2rem;
  text-align: center;
}
