/* o_pgeLayout
   ====================================================================== */

.o_pgeLayout {
  background: var(--th-primary);
}

.o_pgeLayout-header {
  padding: 1.5rem 4rem;
}

.o_pgeLayout-main {
  min-height: 90vh;
}

.o_pgeLayout-footer {
  padding: 2rem 4rem 3rem;
  background: var(--th-secondary);
}
