/* c_DataDisplay
   ====================================================================== */

.c_DataDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c_DataDisplay-title {
  text-transform: uppercase;
}

.c_DataDisplay-number {
  font-size: 3em;
  text-align: center;
}
