/* o_appForm
   ====================================================================== */

.o_appForm {
  display: flex;
  gap: 3rem;
  color: #fff;
  margin: 3rem 0 0;
}

.o_appForm-item {
  flex-basis: 50%;
  display: block;
  padding: 2em;
  border: 0;
  border-radius: 0.5em;
  background: var(--th-secondary, #1d1d1d);
}

.o_appForm-text {
  margin-bottom: 1rem;
}

.o_appForm-field {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.o_appForm-button {
  width: 12rem;
}
