/* o_appMain
   ====================================================================== */

.o_appMain {
  padding: 2rem 4rem;
}

.o_appMain-content {
  padding: 6rem 0 1rem;
  color: var(--th-primary-text);
}

.o_appMain-title {
  margin-bottom: 0.25em;
  font-size: 1.2rem;
  font-weight: var(--fo-bold);
  text-align: center;
}

.o_appMain-text {
  margin-bottom: 2em;
  text-align: center;
}
