/* app-BtnPrimary ========================================================== */

.app-BtnPrimary {
  padding: 0.5em 1em;
  width: 8em;
  border: 1px solid var(--th-tertiary);
  color: var(--th-tertiary-text);
  background-color: var(--co-blank);
}

.app-BtnPrimary:hover {
  color: var(--th-secondary);
  background-color: var(--th-tertiary);
}

.app-BtnPrimary_text {
  font-weight: var(--fo-medium);
  pointer-events: none;
}
