/* app-Textbox ============================================================= */

.app-Textbox {
  width: 100%;
  padding: 0.2em;
  border: 0;
  border-bottom: 1px solid var(--th-primary-text);
  font-family: var(--fo-secondary);
  font-size: 1rem;
  color: var(--th-primary-text);
  background-color: var(--co-blank);
}

.app-Textbox:hover {
  border-bottom: 1px solid var(--th-tertiary);
}

.app-Textbox:focus {
  border-bottom: 1px solid var(--th-tertiary);
  outline: none;
}
