/* COLORS ================================================================== */

:root {
  --co-black: #000000;
  --co-blank: transparent;
  --co-coldGray: #1D1D1D;
  --co-gray: #8D8D8D;
  --co-jade: #05C46B;
  --co-mineShaft: #333333;
  --co-white: #FFFFFF;
}
