/* FONTS =================================================================== */

/* Typography ------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Fonts variables --------------------------------------------------------- */

:root {
  /* Font-family */

  --fo-base: "Montserrat", sans-serif;
  --fo-primary: var(--fo-base);
  --fo-secondary: "Courier Prime", monospace;

  /* Weight */

  --fo-black: 900;
  --fo-extrabold: 800;
  --fo-bold: 700;
  --fo-semibold: 600;
  --fo-medium: 500;
  --fo-regular: 400;
  --fo-light: 300;
  --fo-extralight: 200;
  --fo-thin: 100;
}
